body.dark {
  --wk-bg: #1a1a1a;
  --wk-color-1: #e8e8e9;
  --wk-color-2: #89898a;
  --wk-border-1: #363636;
}
body.dark {
  --wk-bg: #fff;
  --wk-color-1: #000;
  --wk-color-2: #5c5c5c;
  --wk-border-1: #e7e7e7;
}